@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

* {
    margin:0; 
    padding:0;
}

#cover{
    position: absolute;
    width: 100%;
    height: 100vh;
    align-content: center;
    background-color: #000;
    text-align: center;
    z-index: 11;
    pointer-events: none;
}

#cover img{
    margin-top: 45vh;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}

@supports (text-align-last: justify) { /* Very hacky - only here to not run on safari because these properties causes the screen to jitter drastically */
    body, html {
        -webkit-scroll-snap-type: y mandatory;
        -webkit-scroll-behavior: smooth;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }
}

body, html {
    height:100%;
    min-height: 100%;
    font-family: 'Lato', sans-serif; 
    font-weight: thin;
    background:#313131; 
    color:#5DE6FF;
    -webkit-overflow-scrolling: touch;
}

.small-nav{
    display: none;
}

#side-nav {
    height: max-content;
    width: 80px;
    position: fixed;
    display: block;
    right: 0;
    top: 30%;
}

#side-nav > a {
    margin-top: 2em;
    margin-bottom: 2em;
}

.headroom {
    width: inherit;
}

section{
    height: 100vh;
    position:relative;
    background-size:cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-position: center; 
    -moz-background-position: center; 
    -o-background-position: center; 
    overflow:hidden;
    -webkit-scroll-snap-align: start;
    -moz-scroll-snap-align: start;
    -o-scroll-snap-align: start;
    scroll-snap-align: start;
    border: 2px solid #5DE6FF;
}

section, section *{
    box-sizing:border-box;
}

#screen1{
    background-image:url(Austin.png);

}

#screen2{
    position: relative;
    background-image:url(SanAntonio.png);

}

#screen3{
    background-image:url(Houston.png);

}

#screen4{
    text-align: center;
    background-image:url(image\ \(4\)-min.png);
}

h1, h2{
    text-transform:uppercase; 
    text-align:center;
    color: #5DE6FF;
}

#namespace > a{
    font-family: 'Lato', sans-serif; 
    word-spacing: 20px;
    letter-spacing: .75em;
    font-size: 4em;
    color:#5DE6FF;
    pointer-events: none;
}

#imgspace{
    height: max-content;
}

.fixed-imgspace{
    height: max-content;
    position: fixed;
    display: block;
    left: 0;
    top: 30%;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #5DE6FF;
}

#tabs{
    height: max-content;
    width: 100%;
    background-color: #131313a6;
    border-bottom: 2px solid #5DE6FF;
    text-align: center;
    z-index: 999;
}

#tabs a{
    margin: .35em 1em;  
    font-size: 2em;
}

.tab {
    display: inline-block;
    color: #5DE6FF;
    text-decoration: none;
}

.tab::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #5DE6FF;
    transition: width .3s;
}

.tab:hover::after {
    width: 100%;
}

a img{
    height: 4em;
    width: 4em;
    margin: 2em;
}

li a img{
    height: 3em;
    width: 3em;
    margin: 1em;
}

a img:hover{
    animation: selected linear both;
}

li a img:hover{
    animation: selected-two linear both;
}

#namespace{
    background-color: #131313a6;
    border-top: 2px solid #5DE6FF;
    border-bottom: 2px solid #5DE6FF;
    margin-top: 300px;
    position:absolute;
    width:100%;
    height: max-content;
    top: 40%;
    text-align: center;
}

#infospace{
    overflow: scroll;
    background-color: #131313be;
    border-top: 2px solid #5DE6FF;
    border-bottom: 2px solid #5DE6FF;
    margin-top: 100px;
    position:absolute;
    width:100%;
    top: 40%;
    bottom: 0;
    text-align: center;
}

#infospace p{
    margin: 10px 20px;
    color: #5DE6FF;
    font-family: 'Gothic A1';
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}

#photo img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #5DE6FF;
}

h2{
    font-weight: bold;
    font-size:2.2em;
    padding-top: 1em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
        
#skrollr-body{
    width:85%;
    height:100%;
    margin: 0 auto;
    box-shadow:12px 0 15px -4px #000, -12px 0 15px -4px #000;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 50px;
    color: #5DE6FF;
    width: 100px;
}

.swiper-container {
    border-top: 2px solid #5DE6FF;
    border-bottom: 2px solid #5DE6FF;
    background-color: rgba(0, 0, 0, .50);
    overflow: visible !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -40px !important;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    border: 10px solid #5DE6FF;
    color: #5DE6FF;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume{
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    height: 90%;
    margin: 0px 25%;
    border-radius: 10px;
    border: 2px solid #5DE6FF;
    box-shadow: 8px 0 15px -4px #000, -8px 0 15px -4px #000;
}

.PrivateTabIndicator-root-13 {
    -webkit-background-color: #5DE6FF !important;
    -moz-background-color: #5DE6FF !important;
    background-color: #5DE6FF !important;
} 

.PrivateTabIndicator-colorSecondary-17 {
    -webkit-background-color: #5DE6FF !important;
    -moz-background-color: #5DE6FF !important;
    background-color: #5DE6FF !important;
}

.jss17 { /*class only appears in deployment? */
    -webkit-background-color: #5DE6FF !important;
    -moz-background-color: #5DE6FF !important;
    background-color: #5DE6FF !important;
}

.makeStyles-root-11 {
    padding: 0;
    margin: 0;
}

#technical-skills #education #experience #resume-download {
    font-size: 14px;
}

#copywrite {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Lato', sans-serif; 
    font-weight: bold;
    font-size: 1.05em;
    color: #5DE6FF;
    width: 100%;
    border-top: 2px solid #5DE6FF;
    background-color: #131313e7;
}

@keyframes selected{
    0%{
        height: 4em;
        width: 4em;
        margin: 2em;
    }

    100%{
        height: 5em;
        width: 5em;
        margin: 1.5em;
        border-radius: 50%;
        box-shadow: 8px 0 15px -4px #000, -8px 0 15px -4px #000;
    }
}

@keyframes selected-two{
    0%{
        height: 3em;
        width: 3em;
        margin: 1em;
    }

    100%{
        height: 4em;
        width: 4em;
        margin: 0.5em;
        border-radius: 50%;
        box-shadow: 8px 0 15px -4px #000, -8px 0 15px -4px #000;
    }
}
@media screen and (min-width:1900px){
    body{ 
        font-size:1vw;
    }
    #side-nav {
        margin-left: 20px;
        width: 140px;
    }
    .swiper-container{
        font-size:1vw !important;
    }
    .swiper-pagination-bullet, .swiper-pagination-bullet-active {
        border: 1rem solid #5DE6FF;
    }
    .MuiTab-root {
        font-size:0.75vw !important;
    }
    #technical-skills, #education, #experience, #resume-download, .column_one, .column_two, .resume-title {
        font-size: 1vw !important;
    }
    #photo img{
        height: 350px;
        width: 350px;
    }
}
@media screen and (max-width:1136px){
    body{ 
        font-size:12px;
    }
    #skrollr-body{
        width:100%;
        overflow:hidden;
    }
    #section{
        background-position: center center;
    }
    #screen1{
        background-attachment: scroll;
        background-size: 300%;
    }
    #screen2{
        background-attachment: scroll;
        background-size: 300%;
    }
    #screen3{
        background-attachment: scroll;
        background-size: 300%;
    }
    #screen4{
        background-attachment: scroll; 
        background-size: 300%;
    }
    .fixed-imgspace{
        display: none;
    }
    #side-nav{
        display: none;
    }
    #tabs {
        display: flex; 
        justify-content: flex-end
    }
    .tab {
        display: none;
    }
    .small-nav{
        display: inline;
    }
    #resume {
        width: 100%;
        height: 80%;
        margin: 0 0;
    }
    #infospace {
        font-size: 1.5em;
        margin-top: 0;
        top: 55%;
    }
}

@media screen and (min-width:400px) and (max-width:1250px){
    body{ 
        font-size:12px;
    }
    #skrollr-body{
        width:100%;
        overflow:hidden;
    }
    #section{
        background-position: center center;
        background-size: 300%;
    }
    #screen1{
        background-attachment: scroll; 
        background-size: 300%;
    }
    #screen2{
        background-attachment: scroll;
        background-size: 300%;
    }
    #screen3{
        background-attachment: scroll;
        background-size: 300%;
    }
    #screen4{
        background-attachment: scroll;
        background-size: 300%;
    }
    .fixed-imgspace{
        display: none;
    }
    #side-nav{
        display: none;
    }
    #photo img {
        top: 20%;
    }
    .small-nav{
        display: inline;
    }
    #tabs {
        display: flex; 
        justify-content: flex-end
    }
    .tab {
        display: none;
    }
    #resume {
        width: 100%;
        height: 80%;
        margin: 0 0;
    }
    #infospace {
        font-size: 1.5em;
        margin-top: 0;
        top: 55%;
    }
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}
  
*::-webkit-scrollbar {
    height: 0;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
  
* {
    -ms-overflow-style: none;
}
